* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  width:50%;
  margin:auto
}


/* Full-width input fields */
input[type=text], input[type=password]/*, input[type=email] */ ,select{
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left:10%;
  appearence:none;
}
label{
	margin-left:10%;
	font-size:20px
}
input[type=text]:focus, input[type=password]:focus,select {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.login {
  background-color: #eb1010;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
  position:relative;
  margin-left:10%
}


.login:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
/* .signin {
  background-color: #f1f1f1;
  text-align: center;
} */

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
/* .valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

Add a red text color and an "x" icon when the requirements are wrong
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
} */